@page
@model AvengerSquad_HardwareNI.Pages.ProductModel
@{
    ViewData["Title"] = "Product Details";
}
<div class="container-fluid text-left">
    <div class="row" style="border:1px; color=#d9d9d9;">
        <div class="col-sm-6" style="padding-left: 0px;">
            <img src="~/Resources/images/02.jpg" width="90%" height="80%" alt="02">
        </div>
        <div class="col-sm-6" style="padding-right:130px;">
            <h5 style="padding-top: 30px; margin: 0px;">Multifunctional Universal Diagonal Pliers Needle Nose Pliers Hardware Tools Universal Wire Cutters Electrician</h5><br>
            <p><i class="fa-solid fa-star" style="color: #ffea00;"></i><i class="fa-solid fa-star" style="color: #ffea00;"></i>
               <i class="fa-solid fa-star" style="color: #ffea00;"></i><i class="fa-solid fa-star" style="color: #ffea00;"></i>
               <i class="fa-solid fa-star" style="color: #ffea00;"></i>&nbsp&nbsp20 reviews</p>
            <hr class="featurette-divider">
            <h5>₱1000.00</h5>
            <hr class="featurette-divider">
            <p>
                Commodity name: Industrial grade multifunctional wire cutters
                Material: Chrome vanadium alloy steel
                Specifications: wire cutters, needle-nose pliers, diagonal pliers
                application:<br>
                1. Can cut steel wire rope/iron wire/copper wire/wire<br>
                2. Quick stripping without damaging the core<br>
                Parameter:<br>
                1. 9" Stripping range: 1.0/1.5/2.5/4.0/6.0mm
            </p>
        </div>
    </div>
</div>
<hr class="featurette-divider">
<div class="container-fluid" style="text-align: center;">
    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div>
            <h3>Similar Products</h3><br><br>
        </div>
        <div class="col-lg-4">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
            <br><br>
            <h4>Diagonal Pliers</h4>
            <p>
                <i class="fa-solid fa-star" style="color: #ffea00;"></i><i class="fa-solid fa-star" style="color: #ffea00;"></i>
                <i class="fa-solid fa-star" style="color: #ffea00;"></i><i class="fa-solid fa-star" style="color: #ffea00;"></i>
                <i class="fa-solid fa-star" style="color: #ffea00;"></i>
            </p>
            <p>₱800.00</p>
            <p><a class="btn btn-secondary" asp-area="" asp-page="/ProductDetails">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
            <br><br>
            <h4>Bicycle Set Kit</h4>
            <p>
                <i class="fa-solid fa-star" style="color: #ffea00;"></i><i class="fa-solid fa-star" style="color: #ffea00;"></i>
                <i class="fa-solid fa-star" style="color: #ffea00;"></i><i class="fa-solid fa-star" style="color: #ffea00;"></i>
                <i class="fa-solid fa-star" style="color: #ffea00;"></i>
            </p>
            <p>₱700.00</p>
            <p><a class="btn btn-secondary" asp-area="" asp-page="/ProductDetails">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
            <br><br>
            <h4>One Hand Riveter</h4>
            <p>
                <i class="fa-solid fa-star" style="color: #ffea00;"></i><i class="fa-solid fa-star" style="color: #ffea00;"></i>
                <i class="fa-solid fa-star" style="color: #ffea00;"></i><i class="fa-solid fa-star" style="color: #ffea00;"></i>
                <i class="fa-solid fa-star" style="color: #ffea00;"></i>
            </p>
            <p>₱900.00</p>
            <p><a class="btn btn-secondary" asp-area="" asp-page="/ProductDetails">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</div>
<hr class="featurette-divider">
<h5 style="padding-left: 100px;">Reviews</h5><br><br>
<div class="container-fluid text-left">
    <div class="row">
        <div class="col-sm-2" style="padding-left: 100px;">
            <img src="~/Resources/images/profile.jpg" height="90%" width="80%" alt="404">
        </div>
        <div class="col-sm-2">
            <h6>MARY GRACE</h6>
            <small>February 27, 2023</small><br>
            <p>
                <i class="fa-solid fa-star" style="color: #ffea00;"></i><i class="fa-solid fa-star" style="color: #ffea00;"></i>
                <i class="fa-solid fa-star" style="color: #ffea00;"></i><i class="fa-solid fa-star" style="color: #ffea00;"></i>
                <i class="fa-solid fa-star" style="color: #ffea00;"></i>
            </p>
        </div>
        <div class="col-sm-8">
            <p>
                I just receive my order  this afternoon, the packaging was in good shape and the tool is very easy to use.
                The seller is very  accommodating and the shipment is very fast. Thank you seller.
            </p>
        </div>
    </div>
</div>